/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap';

@font-face {
font-family: 'Kagitingan';
src: url(fonts/Kagitingan-Bold.otf) format('opentype');
}

@font-face {
font-family: 'Della Respira';
src: url(fonts/DellaRespira-Regular.ttf) format('opentype');
}



$font-family: "Source Sans 3", sans-serif;
$link-color: #D59319;
$hover-color: #D9C296;
$navbar-bg: #B85619;


/*-- scss:rules --*/

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;  // Or however tall you want it
  z-index: -1;    // This ensures it stays behind other content
}

img {
  mask-image: radial-gradient(circle, white 65%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, white 65%, transparent 100%);
}

a{
  color: $link-color;
  text-decoration: none;
  
  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
  
}

.navbar-title {
  font-family: "Kagitingan";
}



body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.15rem;
}

h1, h2, h3, h4, h5{
  font-family: 'Della Respira', sans-serif;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #B85619; // Your specified color
  color: white; // Text color
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paypal-button {
  background-image: url("images/paypal.svg");
  display: inline-block;
  padding: 20px 100px;
  background-color: #FFC43A;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 100px; 
  transition: background-color 0.3s ease; 
}

.paypal-button:hover {
  background-color: #E0A92F; 
  text-decoration: none;
}
// SCSS for two-column layout
.container {
  display: flex; // Use flexbox for layout

  .column {
    flex: 1; // Make columns equally wide
    padding: 10px; // Add padding for spacing
  }

  .left {
    background-color: #f0f0f0; // Style left column
  }

  .right {
    background-color: #e0e0e0; // Style right column
  }
}

.charity {
  text-align: center;
}


.centered-paragraph {
    text-align: center;
  }
  
  .columns {
  display: flex;
  flex-wrap: wrap; // Allows wrapping for the columns
  
  .column {
    flex: 1; // This allows the column to take up available space
    width: 50%; // This sets the default width to 50%

    @media only screen and (max-width: 600px) {
      width: 100%; // Stacks columns vertically on mobile devices
    }
  }
}

